@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;


* {
  background-color: @crust;
  color: @text;
  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: Iosevka Nerd Font; */
  font-size: 12px;
  font-weight : 600;
}


.modules-left {
}
.modules-right {
}

#workspaces {
  border-radius : 0px;
  background : @blue;
  margin-right : 10px;
}

#workspaces button {
  background : @blue;
  all: initial;
  padding: 0 8px;
  margin: 0 2px;
}

#workspaces button label {
  background : @blue;
  color: @surface2;
  font-size: 12;
}

#workspaces button.active label {
  background : @blue;
  color: @crust;
  font-size: 12;
  font-weight : 900;
}

#workspaces button.empty {
  background : @blue;
  /* opacity: 0.2; */
}

#tray {
  min-width: 12px;
  margin: 0 7.5px;
}

/* Анимация пульсации */
@keyframes pulse {
    0% { background-color: rgba(191, 97, 106, 0.4); }
    50% { background-color: rgba(191, 97, 106, 1.0); }
    100% { background-color: rgba(191, 97, 106, 0.4); }
}

/* Применяем ко всем элементам внутри трея */
#tray * {
    /* background-color: @blue; */
    /* border-radius: 8px; */
    /* padding: 2px 4px; */
    padding: 4px 5px;
    /* margin: 0 2px; */
}

/* Если приложение требует внимания (нужен статус SNI) */
#tray .needs-attention {
    /* animation: pulse 2s infinite; */
    background-color: @red;
}

#cpu,
#network,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

#taskbar button {
  padding: 4px 5px;
}

#taskbar button:hover {
    background: inherit;        /* Оставляет фон таким же, как в обычном состоянии */
    box-shadow: none;           /* Убирает свечение/тени */
    text-shadow: none;          /* Убирает свечение текста */
    transition: none;           /* Отключает плавные переходы */
    animation: none;            /* Отключает любые анимации */
    border: none;               /* Убирает появление рамок */
}

#clock {
  color : @text;
  /* background : @maroon; */
  padding : 0 10px 0 0;
}

#custom-arch {
  min-width: 20px;
  margin: 0px 10px 0px 6px;
  font-size : 18px;
  color : @blue;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  font-family: Ubuntu Mono Nerd Font;
  padding: 2px;
}


.hidden {
  opacity: 0;
}

#custom-seperator {
  color: @surface2;
}

#cpu {
  color : @text;
  margin-right : 10px;
}

#custom-transparency {
  font-size : 15px;
  margin-right : 8;
  color: @green;
}


#custom-gh{
  margin-right: 10px;
  margin-left: 10px;
  font-size : 8px;
}

#memory {
  color : @text;
  margin-right : 10px;
}


#temperature.gpu {
  color: @text;
  margin-left : 6px;
}
#backlight{
  color : @lavender;
  margin-right : 10px;
}

#wireplumber{
  color : @lavender;
}
#network{
  color : @lavender;
  margin-right : 10px;
}

#network.speed {
  color : @text;
}

#battery {
  padding: 0 8px;
  margin-left : 2px;
}

#battery.charging {
  color : @mantle;
  background: #a6e3a1;
}

#battery.good:not(.charging) {
  background: #74c7ec;
  color : @mantle;
}

#battery.warning:not(.charging) {
  background: #74c7ec; 
  color: @mantle;
}

#battery.low:not(.charging) {
  background: #f38ba8; /* Text */
  color: @mantle;
}

#battery.critical:not(.charging) {
  background: #f38ba8; /* Text */
  color: @mantle;
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 6px;
}

@keyframes blink {
  to {
    color: #f38ba8; /* Red */
    background: #f2cdcd; /* Text */
  }
}

/* https://github.com/zhaleff/BlackNode/blob/master/Configs/.config/waybar/style.css */